<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tslax.tesla_xprogrampl">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:networkSecurityConfig="@xml/networkecurityconfig"
        android:name="com.tslax.tesla_xprogrampl.AFApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon_tesla"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_tesla"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name="com.tslax.tesla_xprogrampl.DisclamerActivity">
            android:screenOrientation="portrait"
        </activity>
        <activity android:name="com.tslax.tesla_xprogrampl.WebViewActivity">
            android:screenOrientation="portrait"
        </activity>
        <activity android:name="com.tslax.tesla_xprogrampl.ThanksActivity">
            android:screenOrientation="portrait"
        </activity>
        <activity android:name="com.tslax.tesla_xprogrampl.RegistrationActivity">
            android:screenOrientation="portrait"
        </activity>
        <activity android:name="com.tslax.tesla_xprogrampl.MainActivity">
            android:screenOrientation="portrait"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data android:scheme="example"
                    android:host="gizmos"/>
            </intent-filter>
        </activity>
        <receiver
            android:name="com.appsflyer.SingleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>